MCP Authorization specification 2025-06-18

### Description

[The version](https://modelcontextprotocol.io/specification/2025-03-26/basic/authorization) states that an MCP server needs to include Authorization, which means that the MCP server needs to support features usually provided by an Authorization Server.

By investigating the version, I concluded that Keycloak 26.2 or later can support this version's Authorization part.

The version requires an authorization part of an MCP server to comply with the following specifications:

OAuth 2.1 IETF DRAFT ([draft-ietf-oauth-v2-1-13](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-13))
OAuth 2.0 Authorization Server Metadata ([RFC8414](https://datatracker.ietf.org/doc/html/rfc8414))
OAuth 2.0 Dynamic Client Registration Protocol ([RFC7591](https://datatracker.ietf.org/doc/html/rfc7591))
Proof Key for Code Exchange by OAuth Public Clients ([RFC7636](https://datatracker.ietf.org/doc/html/rfc7636))
Keycloak has already supported them.

The result of this conformance analysis can be found in [the presentation](https://static.sched.com/hosted_files/keycloakconjapan2025/c1/%28FINAL%29Norimatsu_KeycloakConJapan2025_Tokyo.pdf?_gl=1*126g1fz*_gcl_au*NzI1NzI2ODYzLjE3NTAyODgzMTA.*FPAU*NzI1NzI2ODYzLjE3NTAyODgzMTA.) in [KeycloakCon Japan 2025](https://events.linuxfoundation.org/keycloakcon-japan/).

### Goals

* Support 2025-06-18 version of MCP Authorization specification

### Non-Goals

* Support/review other versions of the MCP Authorization specification

### Notes

_No response_

@stianst Hello, as I mentioned earlier, the issue can be closed.