Add initial support for OpenID Shared Signals Framework

### Description

Support for the [OpenID Shared Signals Framework](https://openid.net/specs/openid-sharedsignals-framework-1_0-final.html) enables the propagation of security relevant events among parties in a federated identity system.

### Value Proposition

Adding initial support for the OpenID Shared Signals Framework (SSF) enables Keycloak to participate in modern, interoperable security event sharing across federated identity systems.
This enhances Keycloak's ability to react to security incidents in near real-time, improving the overall security posture and trust between cooperating identity providers and relying parties.

### Goals

- Keycloak can act as a SSF Receiver
- Keycloak supports multiple SSF Receivers per realm
- keycloak can use streams of a SSF Transmitter
- Keycloak can validate and process [RFC8417 Security Event Tokens](https://www.rfc-editor.org/rfc/rfc8417.html) (SETs)
- Initially Keycloak can support and process the following events (SSF Stream Updated, SSF Stream Verification, CAEP Session Revoked)
- Keycloak can map support [RFC9493 Subject Identifiers](https://www.rfc-editor.org/rfc/rfc9493.html) to realm users
- Keycloak supports [RFC 8935 Push-Based Security Event Token (SET) Delivery Using HTTP](https://www.rfc-editor.org/rfc/rfc8935.html)
- Keycloak provides a SecurityEventsListener SPI that allows to react on Security Events extracted from SETs.

### Non-Goals

Currently out of scope are the following features:
- Support for [RFC8936 Poll-Based Security Event Token (SET) Delivery Using HTTP](https://www.rfc-editor.org/rfc/rfc8936.html)
- Support for Persistence of Security Events
- UI for managing stream configurations

The features mentioned above might be added at a later state.

### Discussion

https://github.com/keycloak/keycloak/discussions/14217

### Notes

_No response_

@thomasdarimont the title doesn't reflect what this issue is about