OAuth_Token_Request_State is not  RFC 6265, section 4 compliant

### Before reporting an issue

- [X] I have searched existing issues
- [X] I have reproduced the issue with the latest release

### Area

adapter/spring

### Describe the bug

If  I set the jmeter  HTTP Cookie Manager to "standard" (Compliant with the specification defined by [RFC 6265](https://www.ietf.org/rfc/rfc6265.txt), section 4.)

The cookie `OAuth_Token_Request_State` is not stored hence not complient

Example:
```txt
Set-Cookie: OAuth_Token_Request_State=d168b7fe-bb89-4f92-89f7-9c3648d40f08; Version=1; Path="/"; HttpOnly;SameSite=Lax
```

But if I set jmeter to "default" (Select RFC 2965, RFC 2109 or Netscape draft compliant implementation based on cookies properties sent with the HTTP response.), then it is working.

other cookies like `JSESSIONID` working fine with both

### Version

21.1.1 and 19.0.3

### Expected behavior

Cookie `OAuth_Token_Request_State` is [RFC 6265](https://www.ietf.org/rfc/rfc6265.txt), section 4 compliant

### Actual behavior

Cookie `OAuth_Token_Request_State` is **not** [RFC 6265](https://www.ietf.org/rfc/rfc6265.txt), section 4 compliant

### How to Reproduce?

Use JMeter http requests and HTTP Cookie Manager with policy "standard"

### Anything else?

_No response_

This might be a valid issue, but Keycloak team probably doesn't have time to look at this in the near future. So I am adding to Backlog. Anyone is welcome to send the PR with fixing it (after confirm that this is still reproducible and is valid issue). See the "Contributors" section here https://www.keycloak.org/community for the details on how to send the PR for this.

For spring adapter, it is recommended to use official Spring adapter instead of Keycloak adapter, which is deprecated. See our latest quickstart for some details - https://github.com/keycloak/keycloak-quickstarts/tree/main/spring/rest-authz-resource-server

With that not RFC conform cookie the Edge browser for example is ignoring the Path. So the wrong context path is set then, instead "/".

The Workaround is

* Implement own OIDCServletHttpFacade
  * Implement own ResponseFacade
    * setCookie is calling `ServerCookie.appendCookieValue(cookieBuf, 0, name, value, path, domain, null, maxAge, secure, httpOnly, null);` instead of `ServerCookie.appendCookieValue(cookieBuf, 1, name, value, path, domain, null, maxAge, secure, httpOnly, null);`
  * Ensure OIDCServletHttpFacade is only using the own ResponseFacade
* Implement own KeycloakOIDCFilter
  * Ensure doFilter is using own  OIDCServletHttpFacade
 

Spring adapters have been deprecated for a long time, and will be removed in Keycloak 25. For more information look at https://www.keycloak.org/2024/03/keycloak-2400-released.html.