CVE-2026-1002 - io.vertx/vertx-core: static handler component cache can be manipulated to deny the access to static files

### Before reporting an issue

- [x] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

dist/quarkus

### Describe the bug

Package: io.vertx:vertx-core
Installed Version: 4.5.23
Vulnerability CVE-2026-1002
Severity: MEDIUM
Fixed Version: 4.5.24, 5.0.7
Link: [CVE-2026-1002](https://avd.aquasec.com/nvd/cve-2026-1002)

The Vert.x Web static handler component cache can be manipulated to deny the access to static files served by the handler using specifically crafted request URI.

The issue comes from an improper implementation of the C. rule of section 5.2.4 of RFC3986 and is fixed in Vert.x Core component (used by Vert.x Web): https://github.com/eclipse-vertx/vert.x/pull/5895

Steps to reproduce
Given a file served by the static handler, craft an URI that introduces a string like bar%2F..%2F after the last / char to deny the access to the URI with an HTTP 404 response. For example https://example.com/foo/index.html can be denied with https://example.com/foo/bar%2F..%2Findex.html

Mitgation
Disabling Static Handler cache fixes the issue.

StaticHandler staticHandler = StaticHandler.create().setCachingEnabled(false);

### Version

26.5.1

### Regression

- [ ] The issue is a regression

### Expected behavior

No CVE reported.

### Actual behavior

CVE reported.

### How to Reproduce?

Please check the scanner alerts.

### Anything else?

Don't know if keycloak is really affected by this.
PR already merged in quarkus main: https://github.com/quarkusio/quarkus/pull/52045
We should wait for the backports.