Keycloak throws runtime exception and returns 500 for malformed charset in x-www-form-urlencoded Content-Type

### Before reporting an issue

- [X] I have searched existing issues
- [X] I have reproduced the issue with the latest release

### Area

token-exchange

### Describe the bug

Requesting a token via token endpoint `[/realms/master/protocol/openid-connect/token](http://localhost:8080/auth/realms/master/protocol/openid-connect/token)` with a malformed Content-Type returns 500 response and throws runtime exception




```
java.lang.RuntimeException: java.io.UnsupportedEncodingException: 'utf-8'
	at org.jboss.resteasy.plugins.server.BaseHttpRequest.getFormParameters(BaseHttpRequest.java:61)
	at org.jboss.resteasy.plugins.server.BaseHttpRequest.getDecodedFormParameters(BaseHttpRequest.java:74)
	at jdk.internal.reflect.GeneratedMethodAccessor527.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at org.jboss.resteasy.core.ContextParameterInjector$GenericDelegatingProxy.invoke(ContextParameterInjector.java:166)
	at com.sun.proxy.$Proxy40.getDecodedFormParameters(Unknown Source)
	at org.keycloak.protocol.oidc.endpoints.TokenEndpoint.processGrantRequest(TokenEndpoint.java:177)
	at jdk.internal.reflect.GeneratedMethodAccessor532.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at org.jboss.resteasy.core.MethodInjectorImpl.invoke(MethodInjectorImpl.java:170)
	at org.jboss.resteasy.core.MethodInjectorImpl.invoke(MethodInjectorImpl.java:130)
	at org.jboss.resteasy.core.ResourceMethodInvoker.internalInvokeOnTarget(ResourceMethodInvoker.java:660)
	at org.jboss.resteasy.core.ResourceMethodInvoker.invokeOnTargetAfterFilter(ResourceMethodInvoker.java:524)
	at org.jboss.resteasy.core.ResourceMethodInvoker.lambda$invokeOnTarget$2(ResourceMethodInvoker.java:474)
	at org.jboss.resteasy.core.interception.jaxrs.PreMatchContainerRequestContext.filter(PreMatchContainerRequestContext.java:364)
	at org.jboss.resteasy.core.ResourceMethodInvoker.invokeOnTarget(ResourceMethodInvoker.java:476)
	at org.jboss.resteasy.core.ResourceMethodInvoker.invoke(ResourceMethodInvoker.java:434)
	at org.jboss.resteasy.core.ResourceLocatorInvoker.invokeOnTargetObject(ResourceLocatorInvoker.java:192)
	at org.jboss.resteasy.core.ResourceLocatorInvoker.invoke(ResourceLocatorInvoker.java:152)
	at org.jboss.resteasy.core.ResourceLocatorInvoker.invokeOnTargetObject(ResourceLocatorInvoker.java:183)
	at org.jboss.resteasy.core.ResourceLocatorInvoker.invoke(ResourceLocatorInvoker.java:141)
	at org.jboss.resteasy.core.ResourceLocatorInvoker.invoke(ResourceLocatorInvoker.java:32)
	at org.jboss.resteasy.core.SynchronousDispatcher.invoke(SynchronousDispatcher.java:492)
	at org.jboss.resteasy.core.SynchronousDispatcher.lambda$invoke$4(SynchronousDispatcher.java:261)
	at org.jboss.resteasy.core.SynchronousDispatcher.lambda$preprocess$0(SynchronousDispatcher.java:161)
	at org.jboss.resteasy.core.interception.jaxrs.PreMatchContainerRequestContext.filter(PreMatchContainerRequestContext.java:364)
	at org.jboss.resteasy.core.SynchronousDispatcher.preprocess(SynchronousDispatcher.java:164)
	at org.jboss.resteasy.core.SynchronousDispatcher.invoke(SynchronousDispatcher.java:247)
	at io.quarkus.resteasy.runtime.standalone.RequestDispatcher.service(RequestDispatcher.java:73)
	at io.quarkus.resteasy.runtime.standalone.VertxRequestHandler.dispatch(VertxRequestHandler.java:151)
	at io.quarkus.resteasy.runtime.standalone.VertxRequestHandler.handle(VertxRequestHandler.java:82)
	at io.quarkus.resteasy.runtime.standalone.VertxRequestHandler.handle(VertxRequestHandler.java:42)
	at io.vertx.ext.web.impl.RouteState.handleContext(RouteState.java:1284)
	at io.vertx.ext.web.impl.RoutingContextImplBase.iterateNext(RoutingContextImplBase.java:173)
	at io.vertx.ext.web.impl.RoutingContextWrapper.next(RoutingContextWrapper.java:200)
	at io.quarkus.vertx.http.runtime.StaticResourcesRecorder$2.handle(StaticResourcesRecorder.java:84)
	at io.quarkus.vertx.http.runtime.StaticResourcesRecorder$2.handle(StaticResourcesRecorder.java:71)
	at io.vertx.ext.web.impl.RouteState.handleContext(RouteState.java:1284)
	at io.vertx.ext.web.impl.RoutingContextImplBase.iterateNext(RoutingContextImplBase.java:173)
	at io.vertx.ext.web.impl.RoutingContextWrapper.next(RoutingContextWrapper.java:200)
	at io.quarkus.vertx.http.runtime.VertxHttpRecorder$6.handle(VertxHttpRecorder.java:430)
	at io.quarkus.vertx.http.runtime.VertxHttpRecorder$6.handle(VertxHttpRecorder.java:408)
	at io.vertx.ext.web.impl.RouteState.handleContext(RouteState.java:1284)
	at io.vertx.ext.web.impl.RoutingContextImplBase.iterateNext(RoutingContextImplBase.java:173)
	at io.vertx.ext.web.impl.RoutingContextWrapper.next(RoutingContextWrapper.java:200)
	at org.keycloak.quarkus.runtime.integration.web.QuarkusRequestFilter.lambda$createBlockingHandler$0(QuarkusRequestFilter.java:82)
	at io.quarkus.vertx.core.runtime.VertxCoreRecorder$14.runWith(VertxCoreRecorder.java:576)
	at org.jboss.threads.EnhancedQueueExecutor$Task.run(EnhancedQueueExecutor.java:2449)
	at org.jboss.threads.EnhancedQueueExecutor$ThreadBody.run(EnhancedQueueExecutor.java:1478)
	at org.jboss.threads.DelegatingRunnable.run(DelegatingRunnable.java:29)
	at org.jboss.threads.ThreadLocalResettingRunnable.run(ThreadLocalResettingRunnable.java:29)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.io.UnsupportedEncodingException: 'utf-8'
	at java.base/sun.nio.cs.StreamDecoder.forInputStreamReader(StreamDecoder.java:71)
	at java.base/java.io.InputStreamReader.<init>(InputStreamReader.java:96)
	at org.jboss.resteasy.plugins.providers.FormUrlEncodedProvider.parseForm(FormUrlEncodedProvider.java:83)
	at org.jboss.resteasy.plugins.server.BaseHttpRequest.getFormParameters(BaseHttpRequest.java:57)
	... 54 more
```

### Version

21.0.1

### Expected behavior

a) Return 400 status code and don't throw an exception.
b) Alternatively, return the requested token and log a warning message to provide an easier migration path since we have third party integrations accessing this, which we can't influence.

### Actual behavior

Request returns 

HTTP/1.1 500 Internal Server Error.
{"error":"unknown_error"}

### How to Reproduce?

enclose the charset with single quotes. By the specs (RFC 7231, Section 3.1.15) no quotes or only double quotes are allowed. It seems that using single quotes worked for Keycloak 12

client settings
![Screenshot 2023-03-08 at 17 53 59](https://user-images.githubusercontent.com/1713109/223779257-ae1d53b8-c8ca-4472-8bc1-5dc82451bd2d.png)
![Screenshot 2023-03-08 at 17 54 07](https://user-images.githubusercontent.com/1713109/223779265-54b3b3c2-6866-4562-8d63-c3790c2b727c.png)


curl -X POST --location 'http://localhost:8080/auth/realms/master/protocol/openid-connect/token' \
--header "Content-Type: application/x-www-form-urlencoded;charset='utf-8'" \
--data-urlencode 'grant_type=client_credentials' \
--data-urlencode 'client_id=$client-id' \
--data-urlencode 'client_secret=$client-secret' \
--data-urlencode 'scope=master-client-roles'

### Anything else?

RFC
* https://www.rfc-editor.org/rfc/rfc7230#section-3.2.6

Seems related but did not fix this
* https://github.com/keycloak/keycloak/issues/11971

@onmomo Yes, you are right. For what I've seen the issue comes after the change to quarkus. So probably a difference between undertow and quarkus. Because I have checked that resteasy seems to have never accepted the single quote.

I agree that some better handling would be helpful. Probably doing something in the `HttpRequestImpl.getDecodedFormParameters` to also check the charset is OK.

Moving to backlog for now. If someone wants to help here it would appreciated.

@rmartinc Thanks for coming back to me. I also looked at the code and I'm a bit puzzled about the error handling concept in general using `HttpRequestImpl`
It seems like that there is a pre validation to prevent `BaseHttpRequest:53` to run into a similar issue that returns an empty map.
* https://github.com/keycloak/keycloak/blob/e19e7bef2d0b0da3166c0cac33e8559f288de509/services/src/main/java/org/keycloak/services/HttpRequestImpl.java#L64

but there are other possible errors that could be thrown by BaseHttpRequest dealing with the request body. Therefore, I'm wondering if it would be better to try/catch there and return a 400 response instead of masking the invalid request input? I couldn't really find a pattern looking at other consumers of `HttpRequestImpl`. 
Probably try/catch and throwing a `BadRequestException` would be the best option, wdyt?

Hasn't this issue been fixed in Keycloak 22, as reported on https://github.com/keycloak/keycloak/issues/20671?

> Hasn't this issue been fixed in Keycloak 22, as reported on https://github.com/keycloak/keycloak/issues/20671?

No, not fixed yet, and this one is also somehow related to #20805. Both issues are about not returning a proper message when the form parameters or media type are wrong/invalid.

Hey Ricardo @rmartinc I am working on this. I will send the PR sooner, can you please review it?