Add support for the resource parameter in token-exchange

### Description

The [Token Exchange RFC8693 Section 2.1](https://datatracker.ietf.org/doc/html/rfc8693#section-2.1) describes the optional `resource` parameter to control the token audience via the `aud` claim.

### Discussion

_No response_

### Motivation

Support for the `resource` parameter is optional, but supporting it would be useful in scenarios where users want to restrict the target audience for a token with standard means without using scopes.

### Details

_No response_