Remove empty scope parameter from access tokens when there is no scope granted

### Description

Currently, access tokens include a scope parameter even if no scope is granted. It will be empty, e.g. `"scope": ""`.

This request is to remove the parameter in this case, inline with what is specified by token introspection in [RFC6479 section 3.3](https://www.rfc-editor.org/rfc/rfc6749#section-3.3), and what appears to be Keycloak's current behavior for _token introspection_ as well (in line with the spec).

### Discussion

_No response_

### Motivation

Keycloak access tokens do not follow RFC9068, so I do not consider this a bug. however RFC9068 does specify that scopes in JWT should follow RFC6479, like the token introspection endpoint. We have found some clients (such as the Apache Kafka client) expect JWT bearer tokens' scope claim to indeed follow this, which means an empty scope value (`""`) is invalid and causes an error.

### Details

Any token changes to existing, however seemingly benign, can be breaking, so it's probably worth making this optional behavior for existing clients but default for new clients (as in other OAuth compatibility mode options).