SCIM should also return a forbidden response status for schemas and resourceTypes if the query is present in the request

### Description

As mentioned in RFC 7644 section 4, If a "filter" is provided, the service provider should respond with HTTP status code 403 (Forbidden) to ensure that clients cannot incorrectly assume that any matching conditions specified in a filter are true.

### Value Proposition

Throw a forbiddenException in `SchemaResourceTypeProvider.getAll()` and `ResourceTypeProvider.getAll()` if request query is present.

### Goals

Respond with HTTP status code 403 for schemas and resourceTypes if the query is present in the request.

### Non-Goals

Respond with HTTP status code 403 if the query is present for resources other than schemas and resourceTypes.

### Discussion

_No response_

### Notes

_No response_