MCP Authorization specification 2025-06-16

### Description


The version is currently the latest one.

[The version](https://modelcontextprotocol.io/specification/2025-06-18/basic/authorization) introduces an Authorization Server as an individual element. The version states that an MCP Server has a role of an OAuth 2.1 resource server.

|MCP|OAuth 2.1|
|-|-|
|MCP Client|Client|
|MCP Server|Resource Server|
|Authorization Server|Authorization Server|

By investigating the version, I concluded that Keycloak need to support some features to fully comply with this version's Authorization part.

The version requires an authorization part of an MCP server to comply with the following specifications:
- OAuth 2.1 IETF DRAFT ([draft-ietf-oauth-v2-1-13](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-13))
- OAuth 2.0 Authorization Server Metadata ([RFC8414](https://datatracker.ietf.org/doc/html/rfc8414))
  - Need to provide well-known URI in RFC8414 format.
- OAuth 2.0 Dynamic Client Registration Protocol ([RFC7591](https://datatracker.ietf.org/doc/html/rfc7591))
- Proof Key for Code Exchange by OAuth Public Clients ([RFC7636](https://datatracker.ietf.org/doc/html/rfc7636))

Keycloak has already supported them.

However, to say that Keycloak complies with this version, the follwoing two issues need to be resolved:

##### 1. Server Metadata Well-Known URI format

The version requires an authorization server to provide Well-Known URI in [RFC8414 format](https://datatracker.ietf.org/doc/html/rfc8414#section-3.1) while Keycloak provides it in [OpenID Connect Discovery 1.0 format](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationRequest).

##### 2. Token Audience Binding

The version requires an access token to be bound with its audience, namely, an MCP server's target resource.
To achive it, the version requires an MCP client (as OAuth 2.1 client) and MCP server (as OAuth 2.1 resource server) to comply with Resource Indicators for OAuth 2.0 ([RFC8707](https://www.rfc-editor.org/rfc/rfc8707.html)).

However, IMO, this version does not describe whether an authorization server need to comply with Resource Indicators for OAuth 2.0 ([RFC8707](https://www.rfc-editor.org/rfc/rfc8707.html)). 

The version states that an MCP Server only accept tokens specifically intended for themselves.
It also says that an MCP Client need to include a `resource` parameter defined by RFC 8707 in both an authorization request and token request, and this `resource` parameter's value indicates a target resource of the MCP Server.

Considering these points, I concluded that an authorization server need to issue an access token bound with the MCP Server identified by a `resource` parameter value included in both an authorization request and token request.

Regarding the way of binding an access token with the resource parameter's valude, I concluded that Keycloak needs to put the value into the `aud` claim of the access token (also a response of Token Introspection).

##### Mandatory Tasks

- [x] https://github.com/keycloak/keycloak/issues/40923
- [ ] https://github.com/keycloak/keycloak/issues/41526

##### Optional Tasks

- [ ] Client Policies' default profile for MCP specification
- [ ] Documentation about MCP support by Keycloak


### Goals

* Support 2025-06-18 version of MCP Authorization specification

### Non-Goals

* Support other versions of the MCP Authorization specification

### Notes

_No response_

@stianst Hello, I think the issue can be closed if the issue [Experimental resource indicator support](https://github.com/keycloak/keycloak/issues/47117). I would like to help this work. WDYT? 