Update RFC reference in subject: Likely typo RFC2553 -> RFC2253, Consider RFC4514

### Before reporting an issue

- [X] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

admin/ui

### Describe the bug

The baloon help of "Alllow Regex Pattern Comparison" in Credential tab in the client setting mentions "The Subject DN can be in the RFC2553 or ...".

RFC2553 is likely a typo for RFC2253. Furthermore, RFC2253 is already obsolete, so the correct reference should be RFC4514.

### Version

24.0.3/upstream

### Regression

- [ ] The issue is a regression

### Expected behavior

 Says RFC4515

### Actual behavior

Says RFC2253

### How to Reproduce?

1. create a client with Client authentication=ON
2. click Credentials tab
3. change Client Authenticator to X509 Certificate
4. click the "?" next to Allow regex pattern comparison.

### Anything else?

_No response_

Thank you for this issue and the PR. Assigning this to the core-clients team, as changing to a different RFC 4514 might involve more substantial changes as it might contain additional requirements / different behavior.

cc: @mposolda 
  