JWK key ignored due to missing required field 'use' despite matching KID

### Before reporting an issue

- [X] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

authentication

### Describe the bug

When configuring a client with **private_key_jwt** authentication method, we can specify a **JWKS URL** do make keycloak automatically download the keys when an unknown KID is seen during client authentication.

But if the key provided by the jwks endpoint has no field "use", it is ignored even if the kid matched and the authentication fails as shown in the following traces : 
```
[org.keycloak.util.JWKSUtils] Ignoring JWK key '<MyKID>'. Missing required field 'use'
And later :
[org.keycloak.keys.infinispan.InfinispanPublicKeyStorageProvider] public key wasn't found in the storage. Requested kid " <MyKID>.
```
The jwks endpoint I used had only one key available.

### Version

24

### Regression

- [ ] The issue is a regression

### Expected behavior

The key provided by the endpoint that matches the jwt header KID of the assertion submitted by the client is used no regard of the use parameter field.

According to : [section 4.2 of RFC-7517](https://datatracker.ietf.org/doc/html/rfc7517#section-4.2), the use parameter is optional.
```
 "use" (Public Key Use) Parameter

   The "use" (public key use) parameter identifies the intended use of
   the public key.  The "use" parameter is employed to indicate whether
   a public key is used for encrypting data or verifying the signature
   on data.

   Values defined by this specification are:

   o  "sig" (signature)
   o  "enc" (encryption)

   Other values MAY be used.  The "use" value is a case-sensitive
   string.  Use of the "use" member is OPTIONAL, unless the application
   requires its presence. 
```

Given the fact that the assertion jwt header provided by the client contains a _kid_ and an _algorithm_, it is sufficient to identify the key as it should be unique within a keyset.

### Actual behavior

The key is ignored.

### How to Reproduce?

- Create a jwks endpoint that publishes only one public key 
- Ensure that key doesn't have the use attribute.
- Configure a client to use that endpoint
- Authenticate using private_key_jwt method.

### Anything else?

_No response_