SSF Transmitter as a Preview Feature

### Description

Deliver refined core capabilities to enable a client to act as an SSF receiver where Keycloak is the SSF Transmitter.

### Goals

- Follup up on https://github.com/keycloak/keycloak/issues/48894 and integrate community feedback
- Ensure that implementation scales and is flexible enough for the majority of usage scenarios
- Provide comprehensive usage guides and admin documentation 
- Standards conformance. SSF 1.0 (Final), CAEP 1.0, RFC 8935 (push), RFC 8936 (poll, return-immediately
form), RFC 9493 (Subject Identifiers), RFC 8417 (SETs), and the CAEP Interoperability Profile 1.0.
- Support CAEP/RISC event types that can be mapped to existing Keycloak events

### Non-Goals

- Keycloak as an SSF Receiver
- Support CAEP/RISC event types that can be mapped to existing Keycloak events

### Notes

_No response_