Implementation of OAuth2GrantType for authorization grant based on RFC 7523

### Description

Implementation of the `OAuth2GrantType` to implement RFC 7523 jwt-bearer grant. This implementation can perhaps do some very basic checks, but most of the work might be done by identity provider (and eventually client policies).

Grant can lookup identity-provider based on the `iss` claim (Required per RFC 7523).

Identity provider will need to implement some dedicated interface, which might be also introduced as part of this issue (EG. `AuthorizationGrantProvider`) to signal that particular identity provider is capable of acting as "trust relationship" provider for verifying RFC-7523 based assertions . Initially maybe `OIDCIdentityProvider` can implement this interface and provide very basic validations of claims based on RFC-7523 (`aud`) and verify the signature based on his keys (obtained from keys configured for identity provider with JWKS_URL or JWKS or something similar).

The implementation of verifications can be done maybe on `AbstractOAuth2IdentityProvider`, which is superclass of `OIDCIdentityProvider` as well as `OAuth2IdentityProvider` .

Verification of claims like `exp`, `iat` , `nbf` can be probably done in a similar way like done for JWT client authentication (including support for "clock skew" etc). It will be good to doublecheck the existing building blocks used for JWT client authentication as well as SPIFFE implementation and make sure that checks and building blocks can be re-used instead of copy/pasting the code and implementing same checks again, but in different means (which can be also bad for consistency etc).

As part of this issue, we can introduce new feature, which would be initially `Experimental` .

### Tests

The initial automated tests might be added as well. Likely to the new testsuite where SPIFFE is already tested.

### Non-goals

The configuration will not be introduced as part of this issue to client or identity provider. There will be follow-up issues for the configuration. There would be also client policies as a follow-up for fine-grained checks.

The documentation is also out of scope of this issue.

@mposolda there's already #43152, which should be the top-level issue for this feature; and you will probably want to break this up into more task than this one ;)

Only 7523 for now; we may consider the SAML profile (or other profiles) in the future.

> [@mposolda](https://github.com/mposolda) there's already [#43152](https://github.com/keycloak/keycloak/issues/43152), which should be the top-level issue for this feature; and you will probably want to break this up into more task than this one ;)

@stianst Yes, I am aware of that. Just created the initial task to be able to start on it. I've now followed with more proper creation of additional milestones and tasks.

@mposolda 

> Initially maybe OIDCIdentityProvider can implement this interface and provide very basic validations of claims based on RFC-7523 (aud) and verify the signature based on his keys (obtained from keys configured for identity provider with JWKS_URL or JWKS or something similar).

Here I think we need some "Extensibility".

Below is one use case:
As I noted [here](https://github.com/keycloak/keycloak/pull/24512#issuecomment-3419180534)
[SEP-646](https://github.com/modelcontextprotocol/pull/646) introduces new Identity Assertion Authorization Grant which uses RFC7523.
According to draft spec [here](https://datatracker.ietf.org/doc/draft-ietf-oauth-identity-assertion-authz-grant/00/) of that, new token type "oauth-id-jag+jwt" is planed to be used.
Not only that new token type, but also some other claims in  JWT for authorization grant on token request should be checked like below.
> 6.1.  Processing Rules
> 
>    All of Section 5.2 of [RFC7521] applies, in addition to the following
>    processing rules:
> 
>    *  Validate the JWT typ is oauth-id-jag+jwt (per [RFC8725])
> 
>    *  The aud claim MUST identify the Issuer URL of the Resource
>       Application's authorization server as the intended audience of the
>       JWT.
> 
>    *  The client_id claim MUST identify the same client as the client
>       authentication in the request.

If you agree with that, I will create new issue for the extensibility.
What do you think?