Refreshing an exchanged access token from Azure AD fails

### Before reporting an issue

- [X] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

token-exchange

### Describe the bug

I have a generic OIDC provider set up for Microsoft authentication (not the preconfigured Microsoft one) and I have an external token exchange set up with it. The issue I'm experiencing is that I can't refresh the exchanged (Microsoft) access token once it expires.

This behavior is caused by the fact that Keycloak does not send the `scope` parameter in its request to refresh the external access token. Although this is fine by some identity providers and the [RFC 6749, Section 6](https://datatracker.ietf.org/doc/html/rfc6749#section-6), which states that the scope is an **optional** parameter, it is causing an issue in integration with Microsoft. [In their documentation](https://learn.microsoft.com/en-us/advertising/guides/authentication-oauth-get-tokens?view=bingads-13#refresh-accesstoken), Microsoft states that the `scope` parameter is **required** when sending a refresh token request, which is in contrast to the RFC and causes the token refresh not to work.

### Version

23.0.4

### Regression

- [ ] The issue is a regression

### Expected behavior

After the access token from Microsoft expires and I send the request to the `/realms/{realm}/protocol/openid-connect/token` endpoint I expect a renewed access token with the same scopes to be issued.

### Actual behavior

The issue I'm experiencing is that I can't refresh the exchanged (Microsoft) access token once it expires. The error I'm getting from Keycloak is `"linked token is expired"` and it is thrown here:

https://github.com/keycloak/keycloak/blob/776a491989ebc9be435dea0cb57943e2ad6b65cf/services/src/main/java/org/keycloak/broker/oidc/OIDCIdentityProvider.java#L210-L219

The actual error from Microsoft hidden behind the Keycloak error is:
```
{
  "error": "invalid_request",
  "error_description": "AADSTS90009: Application 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'(api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx) is requesting a token for itself. This scenario is supported only if resource is specified using the GUID based App Identifier. Trace ID: xxxxx Correlation ID: xxxxx Timestamp: 2024-08-19 11:11:21Z",
  "error_codes": [
    90009
  ],
  "timestamp": "2024-08-19 11:11:21Z",
  "trace_id": "xxxxx",
  "correlation_id": "xxxxx"
}
```

### How to Reproduce?

I have a generic OIDC provider setup for Microsoft authentication (not the preconfigured Microsoft one) and I have an external token exchange set up with it. I created a custom scope in the Azure App registration and included it in the identity provider 'Scopes' field in Keycloak like this:

- Scopes: `openid email profile offline_access api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/MyCustomScope`

I have also disabled the user info endpoint since my custom scope replaces the MS Graph scopes in the access token. 

I'm sending the following request:

```
curl --request POST \
  --url /realms/{realm}/protocol/openid-connect/token \
  --header 'Content-Type: application/x-www-form-urlencoded' \
  --data grant_type=urn:ietf:params:oauth:grant-type:token-exchange \
  --data requested_token_type=urn:ietf:params:oauth:token-type:access_token \
  --data requested_issuer=my-idp \
  --data client_id=my-client \
  --data subject_token=eyJhbGciOiJSUz...
```

This request works when I try to get the Microsoft token for the first time (after I start a new session with this identity provider), but it fails when I try to refresh the external token after it expires.

### Anything else?

To overcome this issue I'm proposing a fix that adds the needed scopes in the refresh external token request. Referring to the [RFC 6749, Section 6](https://datatracker.ietf.org/doc/html/rfc6749#section-6) again, it is acceptable to provide the same scopes as originally requested. Therefore, in the PR, the `scope` parameter is populated from the OIDC provider' `defaultScope` attribute and passed as an additional request parameter.

When I'm using the default OIDC provider, the initial token request does not include the scopes at all which results in access token not being included in the response - only id_token and refresh_token. Microsoft states that the "scope" parameter on the token endpoint is an optional Microsoft extension, but I do not know how to make Keycloak add the scope parameter to the token endpoint request.
My user is then never created in Keycloak due to missing access token from the provider.