ROPC: invalid_grant Error Response not RFC Compliant

### Before reporting an issue

- [x] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

oidc

### Describe the bug

RFC 6749 [Section 5.2](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2) (referenced from [Section 4.3.3](https://datatracker.ietf.org/doc/html/rfc6749#section-4.3.3)) specifies the access token error response for the resource owner password credentials grant. This section states that the response should have an HTTP status code 400, except for the "invalid_client" error, which may have 401. Keycloak, however, responds with HTTP 401 also when the error is "invalid_grant". 

### Version

26.5.2

### Regression

- [ ] The issue is a regression

### Expected behavior

Keycloak complies with RFC 6749 and returns HTTP 400 for "invalid_grant" errors.

### Actual behavior

HTTP status code is 401.

### How to Reproduce?

Create a client with "Client Authentication" and "Direct Access Grant" enabled. Then, either call the token endpoint with a non-existent user or with an incorrect password for an existing user:

```
curl -i \
     -d grant_type=password \
     -d username=unknownUser \
     -d client_id=existingClient \
     -d client_secret=correctClientSecret \
     http://localhost:8080/realms/master/protocol/openid-connect/token

curl -i \
     -d grant_type=password \
     -d username=existingUser \
     -d password=wrong \
     -d client_id=existingClient \
     -d client_secret=correctClientSecret \
     http://localhost:8080/realms/master/protocol/openid-connect/token

# In both cases
HTTP/2 401
{"error":"invalid_grant","error_description":"Invalid user credentials"}⏎
```

### Anything else?

_No response_