PAR endpoint accepts request_uri and enforces request object policy (RFC 9126 violation)

### Before reporting an issue

- [x] I have read and understood the above terms for submitting issues, and I understand that my issue may be closed without action if I do not follow them.

### Area

oidc

### Describe the bug

The Keycloak PAR endpoint ([/protocol/openid-connect/ext/par/request](url)) currently:

- Accepts and processes `request_uri`
- Enforces client **Request Object Required** policy (`request /request_uri`)

This behavior is not compliant with **RFC 9126 §2.1**, which explicitly states:

> request_uri MUST NOT be provided to the PAR endpoint.


### Version

26.2.4

### Expected behavior

At the PAR endpoint:

- Reject `request_uri`
- Do not enforce `request/request_uri` client policies (these apply only to authorization endpoint)

### Actual behavior

- Keycloak accepts the `request_uri `parameter
- PAR endpoint enforces client request object requirements (`request/request_uri`)

This leads to:

- RFC violation
- Impossible configurations for clients with `request_uri only` policy

### How to Reproduce?

1. Enable PAR for a client
2. Send a PAR request containing a `request_uri` parameter

### Anything else?

A detailed discussion of this issue is available [here](https://github.com/keycloak/keycloak/discussions/45593)