Introspection endpoint always fails with {"active": false}, when accessed from "wrong" hostname/port

### Area

oidc

### Describe the bug

Say that keycloak is accessible on https://auth.company.com externally and http(s)://internal.company.com behind the firewall.

An access token is issued via token endpoint on the _external_ URL, while a token is introspected, by a REST API, using the _internal_ URL (due to firewall and network restrictions). 

This results in {"active": false} response for all access tokens (even valid ones). However, if the REST API would use the _external_ URL for token introspection, it works.

### Version

18.0.2

### Expected behavior

Same response from the introspection endpoint regardless on which URL it was accessed on.

### Actual behavior

Introspection endpoint always returns {"active": false} when accessed on the "wrong" URL (hostname/port), i.e. different from the token endpoint.

### How to Reproduce?

1. Issue an access token on e.g. http://localhost/path/to/token-endpoint.
2. Introspect valid access token on e.g. http://localhost/path/to/introspection-endpoint, it works
3. Introspect valid access token on e.g. http://127.0.0.1/path/to/introspection-endpoint, it does NOT work

3 alternative. Insert alternative hostname in /etc/hosts, and use that hostname for introspection, does NOT work.


### Anything else?

This "feature" is also explained on Stack Overflow:
https://stackoverflow.com/questions/53721588/keycloak-token-introspection-always-fails-with-activefalse
https://stackoverflow.com/a/53721874

This has been tested with version 18.0.2. Higher versions have breaking changes in the SPI, which makes this harder to test in my existing setup. 

It seems it is a failure verification of the token issuer.

The keycloak use base URI of the current host to verify the token issuer.

https://github.com/keycloak/keycloak/blob/17bf092da638d03645c80725196284ffd91bffa5/services/src/main/java/org/keycloak/protocol/oidc/AccessTokenIntrospectionProvider.java#L104-L105

It means:
1. we create a token with the issuer of `http://localhost`.
2. Then we verify the token on `http://127.0.0.1`
3. There could be a failure of verification on token  issuer.

I think it is a feature, not a bug.

Thanks @lexcao, for pointing out the code line. 

I can trace the introduction of this change to [KEYCLOAK-7967](https://issues.redhat.com/browse/KEYCLOAK-7967). Comments from Michael McCallum (maltatpractiv) and Angle Angle (angelinsky7) both point out that this is not a good change. 

> Urls.realmIssuer(session.getContext().getUri().getBaseUri(), realm.getName()
> The code even says realmIssuer and then uses the keycloak context uri rather than sourcing the uri from the realm which seems like an obvious thing to do.

I also agree to this. For me, it seems that the current implementation uses `session.getContext().getUri().getBaseUri()` rather than a value based on the realm settings, just because it was handy, not because of an explicit requirement.

Going back to the [RFC 7662, section 2](https://www.rfc-editor.org/rfc/rfc7662#section-2):

>    The definition of an active token is dependent upon the authorization
>    server, but this is commonly a token that has been issued by this
>    authorization server, 

1. is not expired, 
2. has not been revoked, and 
3. is valid for use at the protected resource making the introspection call.

The current implementation causes problems when the protected resource is e.g. on the same subnet (behind the same firewall) as Keycloak, and accesses it on a different base URL than (external) clients do. 

What is the actual "feature" of validating that the introspection base URI is the same as the issuer base URI?


Thanks for the report, but unfortunately due the amount of other reported issues and other priorities, Keycloak team does not have time to properly triage this bug. So preliminary added to Backlog for now.
It will be helpful if:
- You can verify if still applicable in latest Keycloak released version. If not, then it is welcome to close this issue.
- If you figure that this may not be a valid bug (for example just a mistake in configuration etc), it will be also welcome to close this issue
- If still applicable in latest version, it will be welcome to add the comment as well, that this was still reproduced with latest Keycloak version as it is very valuable info. Anyone is welcome to comment with this or add other relevant comments to this issue.

Hey, i think it is a valid bug, and it is breaking..

I don't understand the story about issuer, since our issuer is always the same (https://login.<companyname>.com).

some background:

i found many many issues described everywhere that userinfo gives 401 and introspect gives aways active=false when the domain origin difference from the domain where the token endpoint is called from.
However all solutions doesn't make sense, they talk about set the frontend_url to the keycloaks login domain.. However we ask for the iss (issuer) on the /.well-known/openid-configuration endpoint it always gives the full domain name of login keycloak (ex "https://login.companyname.com").
So putting it to that value makes now sence sinds all our externa apps request the keycloak in frontend and backend through that url... 

I believe the issue is that keycloak added an additional check to validate the original domain where the calls are coming from (host header, forward-for ?).. And if the token is called from different domain that userinfo or introspect, it always gives "NO" (401 or active=false)..
Keycloak also has no option to disable this check , making the keycloak 20 breaking.

We also see this issue exist in our vercel applications since vercel runs in the 'cloud' on different nodes around the world, something that we can not change. Even vercel does. not allow to manipulate something like changing a host header.. So we are kind of stuck. If we test with postman from local machine, or even take an access token from production that always fails on userinfo endpoint on production, it goes ok when calling the production userinfo endpoint from our local machine with postman.. so it also seems calling userinfo from localmachine always works. Also from our other frontend applications (javascript) it works, but vercel uses different machines its calling the endpoints from.

Anyone suggestions how to solve this, or can tell where the line of code (check) is added, so maybe we can override it by introducing some custom code.  Is it part of the tokenvalidator or is it part of the endpoints itself ?

Hope someone can help us.
```


This was reported against old release and it is possible that it is already improved in latest Keycloak. See the latest documentation (including things like hostname debug tool, which was surely added after Keycloak 20): https://www.keycloak.org/server/hostname