PAR logic affecting /auth endpoint

### Description

In KC 15 we have been introduced with unexpected breaking behavior. In my opinion logic in PAR draft that has been reference and implemented here [KEYCLOAK-18729](https://github.com/keycloak/keycloak/pull/8262) should only affect PAR endpoint as defined in the draft.
Currently this logic [in code](https://github.com/pedroigor/keycloak/blob/da0a0d0fdf1d2921d42b04b451bce4d1452be969/services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java#L105) affects auth endpoint and is breaking [OIDC JWTRequests](https://openid.net/specs/openid-connect-core-1_0.html#JWTRequests)
 `When the request parameter is used, the OpenID Connect request parameter values contained in the JWT supersede those passed using the OAuth 2.0 request syntax. However, parameters MAY also be passed using the OAuth 2.0 request syntax even when a Request Object is used; this would typically be done to enable a cached, pre-signed (and possibly pre-encrypted) Request Object value to be used containing the fixed request parameters, while parameters that can vary with each request, such as state and nonce, are passed as OAuth 2.0 parameters. `
With this new implementation not passed values from request object override OAuth 2.0 request syntax and we get get error for invalid request.

@pendula95 Could you please doublecheck this with latest Keycloak release? It is possible that this was already fixed (changed in the meantine).

Also could you please add some concrete steps to reproduce (EG. order of the requests sent, The parameters used in the "auth" request and in the query etc)?

@tnorimat Just tagging you in case you have some idea or if you have time to investigate this.

@mposolda I will also investigate this issue.

@mposolda 
This issue seems to happen because:
- According to the specifications, how to handle a request object and query parameters when an authorization server receives an autorization request on Authorization Endpoint is different from the one when keycloak receives them on PAR Endpoint.
- According to [OIDC core section 6.1](https://openid.net/specs/openid-connect-core-1_0.html#RequestObject), an authorization request with both a request object and other any query parameter is allowed.
- According to [RFC 9216 section 3](https://datatracker.ietf.org/doc/html/rfc9126#section-3), if a request object is included in a PAR request, only query parameter that are related to client authentication is allowed to be included in the PAR request.
- The current `AuthzEndpointRequestObjectParser` treats an authorization with a request object and other query parameter in the same way as a PAR request with a request object and other query parameter. Therefore, if a client sends an authorization with a request object and other query parameter, keycloak ignores the query parameter.

I propose that keycloak treats an authorization with a request object and other query parameter in the different way.
I would like to fix this issue. WDYT?