Don't allow dynamically adding arbitrary query parameters and fragments to the client redirect_uri

### Description

The OIDCLoginProtocol dynamically adds query parameters to the OpenID Connect Authentication Response, such as the authorization code, the state, the session state and other depending on the grant. 
I would like to ask you if you could make the adding of the query parameters in the redirect uri optional as you have it implemented for the session_state parameter in the Advanced settings of the client, because of security reasons (for example HTTP parameter pollution attacks).

### Discussion

_No response_

### Motivation

According to the OAuth2 specification:
“When a redirection URI is included in an authorization request, the authorization server MUST compare and match the value received against at least one of the registered redirection URIs (or URI components) as defined in [RFC3986] Section 6, if any redirection URIs were registered. If the client registration included the full redirection URI, the authorization server MUST compare the two URIs using simple string comparison as defined in [RFC3986] Section 6.2.1.”

**Adding these additional parameters to the redirect uri would require that the valid registered redirect_uri of the client contains wild card and because of security reasons wild cards SHOULD NOT be used in production.**

One of the impact of having wild cards in the redirect uri is allowing malicious actor to inject a controlled code into an OAuth 2.0 flow that is performed in a user’s browser and session. As a result, the end-user would be authenticated within the attacker-controlled account

### Details

If it's not possible to remove the query parameters completely from the redirect uri you could provide a configuration property on the client which would enable/disable adding the parameters in the redirect uri. Can be done the same way as it is done for the session_state param.