Support wildcard for port in redirect URI

### Description

[Section 7.3 of RFC8252](https://datatracker.ietf.org/doc/html/rfc8252#section-7.3) ("OAuth 2.0 for Native Apps") contains the following paragraph (also [present in the latest draft of OAuth 2.1](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-12#section-8.4.2-8)):

>    The authorization server MUST allow any port to be specified at the
   time of the request for loopback IP redirect URIs, to accommodate
   clients that obtain an available ephemeral port from the operating
   system at the time of the request.

This technique is used for example by the AWS CLI, which uses a different port in the redirect URI, as in `http://127.0.0.1:12345/oauth/callback?...` where `12345` changes each time.

It would be great if Keycloak allowed to configure a redirect URI like: `http://127.0.0.1:*/oauth/callback` (same for `[::1]` and `localhost`).

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

Adding URLs with wildcards into the "Web Origins" field, like `http://127.0.0.1:*`, also does not help. It seems that the origins list only supports an "allow-all" wildcard `*`

https://github.com/keycloak/keycloak/blob/d8275fe5df94c436b176b2ad58f897b7e993a8fa/services/src/main/java/org/keycloak/services/cors/DefaultCors.java#L171

Any news on that?

Given that `http://127.0.0.1/*` in "Valid redirect URIs" has a special treatment by Keycloak allowing any port, it seems logical that the use of `+` in "Web origins" should be treated in the same way.

There is a PR available for this at https://github.com/keycloak/keycloak/pull/47570