Authorization Header's auth-scheme should be case-insensitive

### Description

According to [RFC 9110 Section 11.1](https://datatracker.ietf.org/doc/html/rfc9110#name-authentication-scheme), it says that Authorization Header's auth-scheme part is case-insensitive while Keycloak does not follow that.

This affects "Bearer", "DPoP" and possibly other schemes defined in `TokenUtil`

It has been fixed for DPoP triggered by `fapi2-security-profile-final-access-token-type-header-case-sensitivity`

We should verify that it also works for the other schemes.

Related:

1. https://github.com/keycloak/keycloak/issues/48045

done