Support DPoP dynamically for all grant-types

### Description

DPoP should be suported for all grant types on the AccessToken endpoint as defined in the specification.

RFC9449 section 5
> ... 
   This is applicable for all access token requests regardless of grant type 
   (e.g., the common authorization_code and refresh_token grant types and 
   extension grants such as the JWT authorization grant 
   [[RFC7523](https://datatracker.ietf.org/doc/html/rfc7523)]) 
    ...

At the moment 05.06.2024 DPoP is only supported for `grant_type=authorization_code`

Hi think I have a solution that will work pretty good. But I would like to ask if you are okay with this solution:

1. I move the DPoP Header check directly into the `TokenEndpoint`:
    ```java 
    DPoPUtil.retrieveDPoPHeaderIfPresent(session, clientConfig, event, cors).ifPresent(dPoP -> {
        session.setAttribute(DPoPUtil.DPOP_SESSION_ATTRIBUTE, dPoP);
    });

    OAuth2GrantType.Context context = new OAuth2GrantType.Context(session, clientConfig, clientAuthAttributes,
                                                                      formParams, event, cors, tokenManager);
    return grant.process(context);
    ```
2. I will implement a new transient ProtocolMapper for DPoP token-binding
3. The transient ProtocolMapper will then be added to the method `getSortedProtocolMappers` in the `TokenManager` class:
    ```java
    public static Stream<Entry<ProtocolMapperModel, ProtocolMapper>> getSortedProtocolMappers(KeycloakSession session, ClientSessionContext ctx, Predicate<Entry<ProtocolMapperModel, ProtocolMapper>> filter) {
        KeycloakSessionFactory sessionFactory = session.getKeycloakSessionFactory();
        return Stream.concat(ctx.getProtocolMappersStream(), DPoPUtil.getTransientProtocolMapperStream(keycloakSession))
                .<Entry<ProtocolMapperModel, ProtocolMapper>>map(mapperModel -> {
                    ProtocolMapper mapper = (ProtocolMapper) sessionFactory.getProviderFactory(ProtocolMapper.class, mapperModel.getProtocolMapper());
                    if (mapper == null) {
                        return null;
                    }
                    return new AbstractMap.SimpleEntry<>(mapperModel, mapper);
                })
                .filter(Objects::nonNull)
                .filter(filter)
                .sorted(Comparator.comparing(ProtocolMapperUtils::compare));
    }
    ```

What do you think?
This would add a new `ProtocolMapper` that is capable of adding DPoP Bindings to the tokens if the DPoP Token can be found in the keycloakSession.
And since the protocolMapper is a transient implementation it cannot be deleted from the execution. 