Token introspection response does not follow RFC6479 "scope" parameter format

### Before reporting an issue

- [X] I have searched existing issues
- [X] I have reproduced the issue with the latest release

### Area

account/api

### Describe the bug

Currently, the introspection response include a scope parameter even if no scope is granted. It will be empty, e.g. `"scope": ""`.

Token introspection spec in [RFC6479 section 3.3](https://www.rfc-editor.org/rfc/rfc6749#section-3.3) specifies the format of this field is:

     scope       = scope-token *( SP scope-token )
     scope-token = 1*( %x21 / %x23-5B / %x5D-7E )

My understanding is that means "at least one scope-token" and scope-token must include "at least one character" (in those ranges).

### Version

20.0.3

### Expected behavior

If no scope is granted, then the "scope" field should not be present.

### Actual behavior

An empty value of `"scope": ""` is included.

### How to Reproduce?

Request a grant with no scopes, and call the token introspection endpoint.

### Anything else?

This behavior is the same as in access tokens per #16523 , however I consider that a separate issue because Keycloak defines its own format of JWTs for access tokens, and this is not specified by OAuth. So  16523 is more of a "nice to have" to be consistent with token introspection (as well as RFC9068).

This can be worked around by requesting at least one scope.

I meant to select the oidc component for the bug.

Determined this is an issue, putting in the backlog.